.input-name-container {
    display: flex;
}

.input-container.right {
    margin-right: 5px;
}

.input-container.left {
    margin-left: 5px;
}

.already-have-acc {
    padding-top: 10px;
    padding-bottom: 50px;
}

.sigin-popup-container.signup h2 {
    padding-bottom: 10px;
    font-size: 28px;
}

.error-msg {
    padding-bottom: 10px;
}